<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Comaptible" content="IE-edge">
        <meta name="viewport" content="width-device-width, intial-scaler=1.0">
        <title> NGO REGISTRATION </title>
        <link rel="stylesheet" href="css/styleS.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        
        </head>
<body>
    <div class="container">
    <div class= "box">
        <div class ="plog">
        <div class ="log">
            <i class="fa-solid fa-paper-plane"></i>
            <h2>WELCOME</h2>
            <div class ="namec">  TO THE ACHARYA LEARNER</div>
            <div class ="pbtn l"><a href="/"><button type="submit" class="btn-form">LOGIN</button></a></div>

            <div class="option">
              <div id="btn-1"></div>
              <button onclick="document.location='registerN'" type="button" class="toggle-btn" >NGO</button>
              <button onclick="document.location='registerO'" type="button" class="toggle-btn">Others</button>
              </div>

        </div>
        </div>
        
        <div class ="reg-D">
            <div class ="reg-box">
            <H1> NGO REGISTRATION</H1>
            <form action="/registerN" method="POST">
                <div class="form-group">
                    <label for="dname"> NGO NAME </label>
                    <input type="text" class="form-control" id="D-NAME" placeholder=" NGO NAME" name="Nname">
                  </div>
                  <div class="form-group">
                    <label for="ID">NGO ID </label>
                    <input type="text" class="form-control" id="D-ID" placeholder=" NGO ID" name="Nid">
                  </div>
                <div class="form-group">
                  <label for="emailid">EMAIL ID</label>
                  <input type="email" class="form-control" id="D-EMAIL" aria-describedby="emailHelp" placeholder=" EMAIL ID" name="Nemail">
                  
                </div>
                <div id="emailhelp" class="form-text">We'll never share your email id with anyone else.</div>
                <div class="form-group">
                  <label for="phoneno">PHONE NO</label>
                  <input type="number" class="form-control" id="D-PHONE" placeholder=" PHONE NO" name="Nphone">
                </div>
                <div class="form-group">
                    <label for="Password">PASSWORD</label>
                    <input type="password" class="form-control" id="D-PASSWORD" placeholder=" PASSWORD" name="password">
                  </div>
                  <div class ="pbtn"><button type="submit" class="btn-form">Register</button></div>
            </form>
            </div> 
                  

        </div>
    </div>
    </div>

</body>
</html>